h1 {
  font-size: 96px;
}

h3 {
  font-size: 24px;
  color: #64676a;
}

p {
  font-size: 18px;
  margin: 10px;
}

h2 {
  font-size: 48px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: #6c63ff;
  font-size: 28px;
}
